.flex-container {
  width: 300px;
  height: 200px;
  background-color: #c4c4c4;
  border: 1px solid black;

  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* flex-flow: row wrap-reverse; */

  /* 주축 방향으로 정렬 */
  justify-content: space-evenly;

  /* 교차축 방향으로 정렬 */
  /* align-items: center; */

  /* 전체 콘텐츠 정렬 */
  /* align-content: center; */
}
.flex-item {
  width: 50px;
  height: 50px;
  color: white;
  background-color: #ff5252;
}
.flex-item:nth-child(2n) {
  background-color: #bf5e5e;
}

/* 비율에 맞춰 배치 */
.item1 {
  flex-grow: 2;
}
.item2 {
  flex-grow: 1;
}
.item3 {
  flex-grow: 2;
}
